table {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

td {
    width: 10px;
    height: 10px;
    border: 13px solid #181a10;
}

.white {
    background-color: #fff;
}

.yellow {
    background-color: #fff978;
}

.red {
    background-color: #ff523c;
}

.green {
    background-color: #212b28;
}

.blue {
    background-color: #00457f;
}

